ul {
    list-style: none;
 }
 li {
     color: #696363;
     margin-bottom: 5px;
 }
 .footerHeading {
     color: black;
     font-weight: bold;
 }
 .about,.service,.getInTouch,.footerLogo{
     margin: 0 auto;
     width: 300px;
 }
 // convert flex to grid 
 @media (min-width:700px) { 
     .footerContainer {
         margin-right: 20px;
         display: flex;
         flex-direction: row;
         gap: 10px;
     }
 }
 .footerImg {
     height: auto;
     width: auto;
 }